<!DOCTYPE html>
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Open+Sans:400,600,700|Oswald|Electrolize' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>JACS | Home</title>
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut" href="static/images/favicon.ico" />
	<link rel="stylesheet" href="static/css/style.css" media="screen" />
	<link rel="stylesheet" href="static/css/skeleton.css" media="screen" />
	<link rel="stylesheet" href="static/sliders/flexslider/flexslider.css" media="screen" />
	<link rel="stylesheet" href="static/fancybox/jquery.fancybox.css" media="screen" />

	<!-- HTML5 Shiv + detect touch events -->
	<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
</head>
<body class="menu-1 h-style-1 text-1">

	
<div class="wrap">
	
	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	
	
	
	<header id="header" class="clearfix">
		
		<a href="/" id="logo"><img src="static/images/logo.png" alt="Car Dealer"></a>
		
		<div class="widget-container widget_search">
			
			<span class="call"><span>+1 234</span> 567-8901</span><br />
			
			<span class="adds">12 Street, Los Angeles, CA, 94101</span>

		</div><!--/ .widget-container-->		
		
		<nav id="navigation" class="navigation">
			
			<ul>
				<li class="current-menu-item"><a href="/">Home</a></li>
				<li><a href="all-listings.html">Browse By</a>
					<ul>
						<li><a href="all-listings.html">All Listings</a></li>
						
					</ul>
		<li><a href="contact.html">Contact Us</a></li>
		<li><a id="test-drive-header" href="test-drive.html">Schedule Test Drive</a></li>
			
		</nav><!--/ #navigation-->
		
	</header><!--/ #header-->

	
	
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->	
	
	
	<!-- - - - - - - - - - - - - - Top Panel - - - - - - - - - - - - - - - - -->	
	<!-- <script type="text/javascript" src="static/js/call_python.js" onload="call_p()"></script> -->
	<div class="top-panel clearfix">
		
		<!-- - - - - - - - - - - Slider - - - - - - - - - - - - - -->	

		<div id="slider" class="flexslider clearfix">

			<ul class="slides">

				<li>
					<img src="static/images/sliders/slide-1.jpg" alt="" />

					<div class="caption">
						<div class="caption-entry">

							<dl class="auto-detailed clearfix">
								<dt><span class="model">2018 Acura RDX</span></dt>
								<dd class="media-hidden"><b>3.5L 6 Cylinders</b></dd>
								<dd class="media-hidden"><b>29,549 Miles</b></dd>
								<dd><span class="heading">$23,899</span></dd>
							</dl><!--/ .auto-detailed-->

							<a href="one-products.html" class="button orange">Details</a>

						</div><!--/ .caption-entry-->
					</div><!--/ .caption-->
				</li>
				<li>
					<img src="static/images/sliders/slide-2.jpg" alt="" />

					<div class="caption">
						<div class="caption-entry">

							<dl class="auto-detailed clearfix">
								<dt><span class="model">2019 Dodge Challenger GT</span></dt>
								<dd class="media-hidden"><b>3.6L 6 Cylinders</b></dd>
								<dd class="media-hidden"><b>75,000 Miles</b></dd>
								<dd><span class="heading">$24,994</span></dd>
							</dl><!--/ .auto-detailed-->

							<a href="nine-products.html" class="button orange">Details</a>

						</div><!--/ .caption-entry-->
					</div><!--/ .caption-->
				</li>
				<li>
					<img src="static/images/sliders/slide-3.jpg" alt="" />

					<div class="caption">
						<div class="caption-entry">

							<dl class="auto-detailed clearfix">
								<dt><span class="model">2020 BMW 230I</span></dt>
								<dd class="media-hidden"><b>5.7L 8 Cylinders</b></dd>
								<dd class="media-hidden"><b>54,652 Miles</b></dd>
								<dd><span class="heading">$15,304</span></dd>
							</dl><!--/ .auto-detailed-->

							<a href="eight-products.html" class="button orange">Details</a>

						</div><!--/ .caption-entry-->
					</div><!--/ .caption-->
				</li>
				<li>
					<img src="static/images/sliders/slide-4.jpg" alt="" />

					<div class="caption">
						<div class="caption-entry">

							<dl class="auto-detailed clearfix">
								<dt><span class="model">2019 Buick Enclave Essence</span></dt>
								<dd class="media-hidden"><b>3.6L V6</b></dd>
								<dd class="media-hidden"><b>34,356 Miles</b></dd>
								<dd><span class="heading">$23,399</span></dd>
							</dl><!--/ .auto-detailed-->

							<a href="four-products.html" class="button orange">Details</a>

						</div><!--/ .caption-entry-->
					</div><!--/ .caption-->
				</li>
				<li>
					<img src="static/images/sliders/slide-5.jpg" alt="" />

					<div class="caption">
						<div class="caption-entry">

							<dl class="auto-detailed clearfix">
								<dt><span class="model">2006 Chrysler 300</span></dt>
								<dd class="media-hidden"><b>5.7L V8</b></dd>
								<dd class="media-hidden"><b>78,961 Miles</b></dd>
								<dd><span class="heading">$8,566</span></dd>
							</dl><!--/ .auto-detailed-->

							<a href="seven-products.html" class="button orange">Details</a>

						</div><!--/ .caption-entry-->
					</div><!--/ .caption-->
				</li>

			</ul><!--/ .slides-->

		</div><!--/ #slider-->

		<!-- - - - - - - - - - - end Slider - - - - - - - - - - - - - -->
		
		<!-- - - - - - - - - - - Search Panel - - - - - - - - - - - - - -->
		
		<div class="widget_custom_search">
			
			<h3 class="widget-title">Quick Search</h3>
			
			<form action="" id="boxpanel" class="form-panel" method="POST">
				
				<fieldset>
					<label>Manufacturer:</label>
					{{ form.make }}
				</fieldset>
				
				<fieldset>
					<label>Min Price:</label>
					{{ form.min_price }}
				</fieldset>
				
				<fieldset>
					<label>Max Price:</label>
					{{ form.max_price }}
				</fieldset>
				
				<fieldset>
					<label>Cylinders:</label>
					{{ form.cylinders }}
				</fieldset>
				
				<fieldset>
					<label>Mileage:</label>
					{{ form.mileage }}
				</fieldset>
				<button id="submitSearch" class="submit-search" type="submit">Search</button>
				
			</form><!--/ .form-panel-->
			
		</div><!--/ .main-search-panel-->
		
		<!-- - - - - - - - - - end Search Panel - - - - - - - - - - - - -->
		
	</div><!--/ .top-panel-->
	
	<!-- - - - - - - - - - - - - end Top Panel - - - - - - - - - - - - - - - -->	
	
	<div class="main">

		<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

		<section class="container sbr clearfix">

			<!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		

			<section id="content" class="two-thirds column">

				<h3 class="widget-title">Recent Cars</h3>
				
				<section id="change-items" class="item-grid">

					{% for i in range(0, len) %}
					<article>
                        <a href="{{ listings[i].media.product_link }}" class="single-image picture">
                            <img src="{{ listings[i].media.main_thumbnail }}" alt="">
                        </a>

                        <div class="detailed">

                            <h6 class="title-item">
								<a href="{{ listings[i].media.product_link }}">{{ listings[i].year }} {{ listings[i].make }} {{listings[i].model }}</a>
                            </h6>

                            <div class="clear"></div>

                            <ul class="list-entry">
                                <li><b class="label">Mileage:</b><span>{{ listings[i].mileage }} Miles</span></li>
                                <li><b class="label">Location:</b><span>{{ listings[i].loc_state }}, {{ listings[i].loc_city }}</span></li>
                            </ul>
							<span class="price">${{ listings[i].price }}</span>
                            <a href="{{ listings[i].media.product_link }}" class="button orange">Details</a>

                        </div>

					</article>
					{% endfor %}			
				</section><!--/ .item-grid-->
				
			</section><!--/ #content-->

			<!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->	


			<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->	

				<div class="widget-container widget_recent_entries">
					
					<h3 class="widget-title">Contact Info</h3>
					
					<ul>
						<li><h4>Phone Number: +1 234 567-8901</h4></li>
						<li><h4>Email Address: support@jacs.com</h4></li>
						<li><h4>Customer Satisfaction Guaranteed!</h4></li>
						
						<li><a>_____________________________________________</a></li>
						<li><h4>Disclaimer:</h4></li>
				
						<li><a>All advertised prices exclude government fees and taxes, any finance charges, 
							any dealer document preparation charge, and any emission testing charge. While we try to 
							make sure that all prices posted are accurate, all prices listed are only good for 24 hours from posting. 
							We are not responsible for typographical and/or other errors that may appear on the site. 
							We make every effort to provide you the most accurate, up-to-the-minute information; however, it is your 
							responsibility to verify with the Dealer that all details listed, including price, are accurate. 
							The dealership is not responsible for typographical, pricing, product information, or advertising errors. 
							Advertised prices and available quantities are subject to change without notice. 
							All rates and offers are dependent on bank approval, which varies based on applicant's credit as well 
							as the vehicle.  
						</a></li>
						<li><a>All vehicles listed have been safety inspected and smogged as required by law. 
							Financing, extended warranties, and service contracts are optional and provided by third parties. 
							All vehicles are available for an independent 3rd party inspection before purchase (at customer expense). 
						</a></li>
					</ul>
			
					
				</div><!--/ .widget-container-->

			</aside><!--/ #sidebar-->

			<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

		</section><!--/.container -->

		<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
		
	</div><!--/ .main-->

	
	<!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->	
	
	<footer id="footer" class="container clearfix">
		
		<section class="container clearfix">
			
			<div class="four columns">

				<div class="widget-container widget_text">

					<h3 class="widget-title">About Us</h3>

					<div class="textwidget">

						<p class="white">
							“We work diligently to bring the highest quality at the lowest price on 
							the internet and strongest financing options in the industry.”
						</p>	

						<p>
							Building a relationship is important, whether it’s with a customer, vendors, or lenders, which is what we
							focus on. We aren’t interested in just making the sale today and never seeing you again – we want to
							ensure that you are so happy, that not only do you come back, but you’ll refer your friends and families
							to us as well , with over 100K satisfied customers and growing. 
						</p>	

					</div><!--/ .textwidget-->

				</div><!--/ .widget-container-->	

			</div><!--/ .four .columns-->

			<div class="four columns">

				<div class="widget-container widget_text">

					<h3 class="widget-title">Our Hours</h3>

					<div class="textwidget">

						<ul class="hours">

							<li>Monday <span>8 am to 7 pm</span></li>
							<li>Tuesday <span>8 am to 9 pm</span></li>
							<li>Wednesday <span>8 am to 9 pm</span></li>
							<li>Thursday <span>8 am to 9 pm</span></li>
							<li>Friday <span>8 am to 9 pm</span></li>
							<li>Saturday <span>8 am to 9 pm</span></li>
							<li>Sunday <span>Closed</span></li>

						</ul><!--/ .hours-->

					</div><!--/ .textwidget-->

				</div><!--/ .widget-container-->

			</div><!--/ .four .columns-->

			<div class="four columns">

				<div class="widget-container widget_contacts">

					<h3 class="widget-title">Our Contacts</h3>			

					<ul class="our-contacts">

						<li class="address">
							<b>Address Info:</b>
							<p> 12 Street, Los Angeles, CA, 94101 Search </p>
						</li>
						<li class="phone">
							<b>Phone:</b>&nbsp;<span>+1 234 567-8901</span> <br />
						</li>
						<li>
							<b>Email: <a href="mailto:testmail@sitename.com">support@jacs.com</a></b>
						</li>

					</ul><!--/ .our-contacts-->

				</div><!--/ .widget-container-->

			</div><!--/ .four .columns-->

			<div class="adjective clearfix">

				<p class="developed">Developed by JACS Team</a></p>
				
			</div><!--/ .adjective-->

		</section><!--/ .container-->
		
	</footer><!--/ #footer-->
	
	<!-- - - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - - -->		
	
</div><!--/ .wrap-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/jquery-1.7.2.min.js"><\/script>')</script>
<script src="static/sliders/flexslider/jquery.flexslider-min.js"></script>
<script src="static/js/jquery-impromptu.js"></script>
<script src="static/js/custom.js"></script>
</body>
</html>
