<!DOCTYPE html>
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Open+Sans:400,600,700|Oswald|Electrolize' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>JACS | Acura RDX</title>
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut" href="static/images/favicon.ico" />
	<link rel="stylesheet" href="static/css/style.css" media="screen" />
	<link rel="stylesheet" href="static/css/galleriffic.css" media="screen" />
	<link rel="stylesheet" href="static/css/skeleton.css" media="screen" />
	<link rel="stylesheet" href="static/fancybox/jquery.fancybox.css" media="screen" />

	<!-- HTML5 Shiv + detect touch events -->
	<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
</head>
<body class="menu-1 h-style-1 text-1">

<div class="wrap">
	
	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	
	
	<header id="header" class="clearfix">
		
		<a href="/" id="logo"><img src="static/images/logo.png" alt="Car Dealer"></a>
		
		<div class="widget-container widget_search">
			
			<span class="call"><span>+1 234</span> 567-8901</span><br />
			
			<span class="adds">12 Street, Los Angeles, CA, 94101</span>

		</div><!--/ .widget-container-->		
		
		<nav id="navigation" class="navigation">
			
			<ul>
				<li class="current-menu-item"><a href="/">Home</a></li>
				<li><a href="all-listings.html">Browse By</a>
					<ul>
						<li><a href="all-listings.html">All Listings</a></li>
						
					</ul>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="test-drive.html">Schedule Test Drive</a></li>
			</ul>
			
		</nav><!--/ #navigation-->
		
	</header><!--/ #header-->
	
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->	
	
	
	<div class="main">

		<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

		<section class="container sbl clearfix">

			<!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		

			<section id="content" class="two-thirds column">
				
				<article class="item clearfix">
					
					<h2 class="title">Acura RDX FWD 2018</h2>
					
					<div id="gallery" class="gallery">

						<div class="slideshow-container">
							<!-- div id="loading" class="loader"></div> -->
							<div id="slideshow" class="slideshow clearfix"></div>
						</div><!--/ .slideshow-container-->

						<div id="thumbs" class="clearfix">

							<ul class="thumbs list-image clearfix">

								<li>
									<a class="thumb" name="leaf" href="static/images/temp/item-1.jpg" title="Title 0">
										<img src="static/images/temp/list-thumb-1.jpg" alt="Title #1" />
									</a>
								</li>

								<li>
									<a class="thumb" name="drop" href="static/images/temp/item-2.jpg" title="Title 1">
										<img src="static/images/temp/list-thumb-2.jpg" alt="Title #2" />
									</a>
								</li>

								<li>
									<a class="thumb" name="leaf" href="static/images/temp/item-3.jpg" title="Title 2">
										<img src="static/images/temp/list-thumb-3.jpg" alt="Title #3" />
									</a>
								</li>	

								<li>
									<a class="thumb" name="leaf" href="static/images/temp/item-4.jpg" title="Title 3">
										<img src="static/images/temp/list-thumb-4.jpg" alt="Title #4" />
									</a>
								</li>	

								<li>
									<a class="thumb" name="leaf" href="static/images/temp/item-5.jpg" title="Title 4">
										<img src="static/images/temp/list-thumb-5.jpg" alt="Title #5" />
									</a>
								</li>	

								<li>
									<a class="thumb" name="leaf" href="static/images/temp/item-6.jpg" title="Title 5">
										<img src="static/images/temp/list-thumb-6.jpg" alt="Title #6" />
									</a>
								</li>	

							</ul><!--/ .thumbs-->

						</div><!--/ #thumbs-->

					</div><!--/ #gallery-->
	
					<div class="extra">
						
						<b class="heading">Price:</b>
						
						<span class="cost">$23,899</span>
						
						<ul class="list type-1">
							<li><b>Reg Number: </b><span>423423</span></li>
							<li><b>Mileage: </b><span>29,549</span></li>
							<li><b>Body Type: </b><span>Sports</span></li>
							<li><b>Model Year: </b><span>2002</span></li>
							<li><b>Engine Size: </b><span>3.8L</span></li>
							<li><b>Trans: </b><span>Manual</span></li>
							<li><b>Fuel Type: </b><span>Gas</span></li>
							<li><b>Owners: </b><span>1</span></li>
						</ul>
						

						<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f3c188f442f3bf2"></script>
						
					</div><!--/ .extra-->					
					
					<div class="entry-item">
						
						<div class="video-box">
							
							<iframe width="560" height="315" src="https://www.youtube.com/embed/ajng3iIi-RU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						</div><!--/ .video-box-->
						
						<h3 class="section-title">Overview</h3>
						
						<p>
							2018 Acura RDX FWD with a back up camera, navigation, sunroof. The engine is a 3.5L V6 Cylinder. It has 
							6-Speed Automatic Transmission. The exterior is white Diamond Pearl with Ebony, Leather Seat Trim for the
							Interior. As for the sound, it comes with a Premium Sound System with an FM/AM/Casset player. Bluetooth is 
							also included. Cruise Control with front wheel drive.  
						</p>
						
						<div class="entry-tabs">

							<ul class="tabs-nav">

								<li><a href="#tab1">Specifications</a></li>
								<li><a href="#tab2">Safety</a></li>

							</ul><!--/ .tabs-nav -->

							<div class="tabs-container">

								<div class="tab-content clearfix" id="tab1">
									
									<div class="five columns">
									
										<ul class="list type-1">
											<li><b>Body Style: </b><span>SEDAN 4-DR</span></li>
											<li><b>Driveline: </b><span>FWD</span></li>
											<li><b>Fuel Economy-city: </b><span>20-28 miles/gallon</span></li>
											<li><b>Anti-Brake System: </b><span>Non-ABS | 4-Wheel | ABS</span></li>
											<li><b>Front Brake Type: </b><span>Disc</span></li>
											<li><b>Turning Diameter: </b><span>36.10 in.</span></li>
											<li><b>Rear Suspension: </b><span>Semi</span></li>
											<li><b>Rear Spring Type: </b><span>Coil</span></li>
											<li><b>Front Headroom: </b><span>39.10 in.</span></li>
											<li><b>Front Legroom: </b><span>41.30 in.</span></li>
											<li><b>Front Shoulder Room: </b><span>53.10 in.</span></li>
											<li><b>Front Hip Room: </b><span>51.90 in.</span></li>
											<li><b>Curb Weight-automatic: </b><span>2568 lbs</span></li>
											<li><b>Overall Length: </b><span>178.30 in.</span></li>
										</ul>									
										
									</div>
									
									<div class="five columns">
									
										<ul class="list type-1">
											<li><b>Overall Height: </b><span>58.50 in.</span></li>
											<li><b>Ground Clearance: </b><span>5.70 in.</span></li>
											<li><b>Track Front: </b><span>58.30 in.</span></li>
											<li><b>Standard Seating: </b><span>5</span></li>
											<li><b>Cargo Volume: </b><span>15 ft.</span></li>
											<li><b>Maximum Towing: </b><span>1500 lbs</span></li>
											<li><b>Basic-distance: </b><span>29,549 mile</span></li>
											<li><b>Engine Type: </b><span>3.5L 6 Cylinders</span></li>
										</ul>									
										
									</div>
									
								</div><!--/ .tab-content -->

								<div class="tab-content clearfix" id="tab2">
									
									<div class="five columns">
									
										<ul class="list type-1">
											<li><b>Fuel Economy-city: </b><span>20-29 miles/gallon</span></li>
											<li><b>Anti-Brake System: </b><span>4-Wheel</span></li>
											<li><b>Front Brake Type: </b><span>Disc</span></li>
											<li><b>Turning Diameter: </b><span>36.10 in.</span></li>
											<li><b>Rear Suspension: </b><span>Semi</span></li>
										</ul>									
										
									</div>
									
									<div class="five columns">
									
										<ul class="list type-1">
											<li><b>Overall Height: </b><span>58.50 in.</span></li>
											<li><b>Ground Clearance: </b><span>5.70 in.</span></li>
											<li><b>Track Front: </b><span>58.30 in.</span></li>
											<li><b>Standard Seating: </b><span>5</span></li>
											<li><b>Cargo Volume: </b><span>13.60 ft.</span></li>
											<li><b>Maximum Towing: </b><span>1500 lbs</span></li>
											<li><b>Basic-distance: </b><span>36.000 mile</span></li>
											<li><b>Engine Type: </b><span>3.5L 6 Cylinders</span></li>
										</ul>									
										
									</div>
								
								</div><!--/ .tab-content -->

								<div class="tab-content clearfix" id="tab4">
									
									<div class="five columns">
									
										<ul class="list type-1">
											<li><b>Rear Suspension: </b><span>Semi</span></li>
											<li><b>Rear Spring Type: </b><span>Coil</span></li>
											<li><b>Front Headroom: </b><span>39.10 in.</span></li>
											<li><b>Front Legroom: </b><span>41.30 in.</span></li>
											<li><b>Front Shoulder Room: </b><span>53.10 in.</span></li>
											<li><b>Front Hip Room: </b><span>51.90 in.</span></li>
											<li><b>Curb Weight-automatic: </b><span>2568 lbs</span></li>
											<li><b>Overall Length: </b><span>178.30 in.</span></li>
										</ul>									
										
									</div>
									
									<div class="five columns">
									
										<ul class="list type-1">
											<li><b>Overall Height: </b><span>58.50 in.</span></li>
											<li><b>Ground Clearance: </b><span>5.70 in.</span></li>
											<li><b>Track Front: </b><span>58.30 in.</span></li>
											<li><b>Standard Seating: </b><span>5</span></li>
											<li><b>Cargo Volume: </b><span>13.60 ft.</span></li>
											<li><b>Maximum Towing: </b><span>1500 lbs</span></li>
											<li><b>Basic-distance: </b><span>36.000 mile</span></li>
										</ul>									
										
									</div>
			
								</div><!--/ .tab-content -->

							</div><!--/ .tabs-container -->	

						</div><!--/ .entry-tabs-->
						
						<h3 class="section-title">Contact Us regarding this car</h3>
						
							<form action="" method="POST">

								<p class="input-block">
									<label for="name">Your Name: (required)</label>
									{{ form.name }}
								</p>

								<p class="input-block">
									<label for="email">Your Email: (required)</label>
									{{ form.email }}
								</p>

								<p class="input-block">
									<label for="comments">You Message: (required)</label>
									{{ form.message }}
								</p>

								<p class="input-block">
									<button id="submitSearch" class="button orange" type="submit">Submit</button>
								</p>

							</form><!--/ .contact-form-->	
						
					</div><!--/ .entry-item-->
					
				</article><!--/ .item-->
				
			</section><!--/ #content-->

			<!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->	


			<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->	

			<aside id="sidebar" class="one-third column">					
				
				<div class="widget-container widget_loan_calculator">
					
					<div class="widget-head">
						
						<h3 class="widget-title">Loan Calculator</h3>
						
					</div>
					
					<div class="entry-loan">
						
						<form action="" name="myform" id="loan">

							<table>
								<tr>
									<td><label for="LoanAmount">Car Loan Amount</label></td>
									<td><input name="LoanAmount" id="LoanAmount" type="text" value="3000" /></td>
									<td>$</td>
								</tr>
								<tr>
									<td><label for="InterestRate">Annual Interest Rate</label></td>
									<td><input name="InterestRate" id="InterestRate" type="text" value="7.0" /></td>
									<td>%</td>
								</tr>
								<tr>
									<td><label for="NumberOfYears">Term of Car Loan</label></td>
									<td><input name="NumberOfYears" id="NumberOfYears" type="text" value="4" /></td>
									<td>Years</td>
								</tr>
								<tr>
									<td>
										<button name="cal" class="button orange">Calculate</button>
									</td>
								</tr>
								<tr>
									<td><label for="NumberOfPayments">Number of Car Payments</label></td>
									<td><input readonly="readonly" type="text" id="NumberOfPayments" name="NumberOfPayments" /></td>
									<td></td>
								</tr>
								<tr>
									<td><label for="MonthlyPayment">Monthly Payment</label></td>
									<td><input readonly="readonly" type="text" id="MonthlyPayment" name="MonthlyPayment" /></td>
									<td>$</td>
								</tr>
							</table>					
							
						</form>
						
					</div><!--/ .entry-loan-->
					
				</div><!--/ .widget-container-->
				
				<div class="widget-container widget_latest">
					
					<h3 class="widget-title">Latest Cars</h3>
					
					<ul>
						<li>
							<a class="thumb single-image picture video" href="one-products.html"><img src="static/images/temp/latest-thumb-1.jpg" alt="" /></a>
							<div class="latest-entry">
								<a href="one-products.html" class="block"><b>Acura RDX</b></a>
								<span class="block add-margin">2018, 29,549 Miles</span>
								<a href="one-products.html" class="bold text-orange">$23,899</a>	
							</div><!--/ .latest-entry-->
						</li>
						<li>
							<a class="thumb single-image picture" href="three-products.html"><img src="static/images/temp/latest-thumb-2.jpg" alt="" /></a>
							<div class="latest-entry">
								<a href="three-products.html" class="block"><b>Audi A3</b></a>
								<span class="block add-margin">2016, 32,343 Miles</span>
								<a href="three-products.html" class="bold text-orange">$29,799</a>	
							</div><!--/ .latest-entry-->
						</li>
						<li>
							<a class="thumb single-image picture video" href="four-products.html"><img src="static/images/temp/latest-thumb-3.jpg" alt="" /></a>
							<div class="latest-entry">
								<a href="four-products.html" class="block"><b>2019 Buick Enclave Essense</b></a>
								<span class="block add-margin">2019, 34,356 Miles</span>
								<a href="four-products.html" class="bold text-orange">$23,399</a>	
							</div><!--/ .latest-entry-->
						</li>
					</ul>
					
				</div><!--/ .widget-container-->
				
				
					
				</div><!--/ .widget-container-->
				
			</aside><!--/ #sidebar-->

			<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

		</section><!--/.container -->

		<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
		
	</div><!--/ .main-->

	
	<!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->	
	
	<footer id="footer" class="container clearfix">
		
		<section class="container clearfix">
			
			<div class="four columns">

				<div class="widget-container widget_text">

					<h3 class="widget-title">About Us</h3>

					<div class="textwidget">

						<p class="white">
							“We work diligently to bring the highest quality at the lowest price on 
							the internet and strongest financing options in the industry.”
						</p>	

						<p>
							Building a relationship is important, whether it’s with a customer, vendors, or lenders, which is what we
							focus on. We aren’t interested in just making the sale today and never seeing you again – we want to
							ensure that you are so happy, that not only do you come back, but you’ll refer your friends and families
							to us as well , with over 100K satisfied customers and growing. 
						</p>		

					</div><!--/ .textwidget-->

				</div><!--/ .widget-container-->	

			</div><!--/ .four .columns-->

			<div class="four columns">

				<div class="widget-container widget_text">

					<h3 class="widget-title">Our Hours</h3>

					<div class="textwidget">

						<ul class="hours">

							<li>Monday <span>8 am to 7 pm</span></li>
							<li>Tuesday <span>8 am to 9 pm</span></li>
							<li>Wednesday <span>8 am to 9 pm</span></li>
							<li>Thursday <span>8 am to 9 pm</span></li>
							<li>Friday <span>8 am to 9 pm</span></li>
							<li>Saturday <span>8 am to 9 pm</span></li>
							<li>Sunday <span>Closed</span></li>

						</ul><!--/ .hours-->

					</div><!--/ .textwidget-->

				</div><!--/ .widget-container-->

			</div><!--/ .four .columns-->

			<div class="four columns">

				<div class="widget-container widget_contacts">

					<h3 class="widget-title">Our Contacts</h3>			

					<ul class="our-contacts">

						<li class="address">
							<b>Address Info:</b>
							<p> 12 Street, Los Angeles, CA, 94101 Search </p>
						</li>
						<li class="phone">
							<b>Phone:</b>&nbsp;<span>+1 234 567-8901</span> <br />
						</li>
						<li>
							<b>Email: <a href="mailto:testmail@sitename.com">support@jacs.com</a></b>
						</li>

					</ul><!--/ .our-contacts-->

				</div><!--/ .widget-container-->

			</div><!--/ .four .columns-->

			
			<div class="adjective clearfix">

				<p class="developed">Developed by JACS Team</a></p>
				
			</div><!--/ .adjective-->

		</section><!--/ .container-->
		
	</footer><!--/ #footer-->
	
	<!-- - - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - - -->			
	
</div><!--/ .wrap-->

	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/jquery-1.7.2.min.js"><\/script>')</script>
<!--[if lt IE 9]>
	<script src="static/js/selectivizr-and-extra-selectors.min.js"></script>
<![endif]-->
<script src="static/js/jquery.galleriffic.js"></script>
<script src="static/js/custom.js"></script>
</body>
</html>
